<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <main>
    <h2>homepage</h2>
    <img src="/img/chat.png" alt="photo de chat assis">
  </main>
</body>

</html>